/* font family from Google Fonts */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 2;
    font-size: 18px;
    font-weight: 800;
    color: #0a191e;
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 1200px;
    background-color: #f8f8f8;
}

 section h2 {
     font-weight: 900;
     font-size: 26px;
     line-height: 1.6;
     color: #011819;
 }
 

#navbar {
    align-items: center;
    justify-content: space-between;
    overflow: auto;
    border-radius: 5px;
    font-weight: 800;
    padding: 0px;
    display: flex;

}
/* navbar  */
#navbar a {
    color: rgb(14, 13, 13);
}
#navbar ul {
    list-style: none;
}
#navbar li {
    float: left;
}
#navbar li a {
    padding: 5px 15px; 
    margin-right: 10px; 
}
#navbar li a:hover, #navbar li a.current {
    color: #08c5c8;
}
.nav-h2 {
    font-size: 30px;
    flex: right;
}

.nav-portfolio {
    color: #08c5c8;
}

/* Profile pic & about info */
#about {
    display: flex;
    flex: 1;
    height: 30vh;
    margin-top: 50px;
}

.selfie {
   
   width: 100%;
    align-items: center;
    padding: 20px;
    margin-right: 60px;
    justify-content: center;
    
}
.selfie img {
    border-radius: 10px;
    max-width: 400px;
    max-height: 400px;
    object-fit: center;
    opacity: 0.9; 
}

.about-info .about-h2 {
    margin-bottom: 20px;
    text-align: center;
}
.about-info p { 
    padding: 15px;
    line-height: 2;
    max-width: 500px;
}

.about-info {
    display:block;
    padding: 15px;
    margin-left: 30px;
    width: 100%;
    height: 100%;
    white-space: normal; 
}

/* experience & container element */
#experience {
    justify-content: center; 
    height: 25vh;  
}
#experience h2 {
    margin-bottom: 30px;
}
#experience ul li {
    list-style: none;
    padding: 10px;
}
#experience ul {
   padding: 0;
}
#experience ul li div{
    display: flex;
    justify-content: space-between;
}
#experience  .strong {
    font-weight: bolder;
    color: #0a191e;
}
#experience span {
    color: #6f7579;
}
#skills {
    height: 15vh;
}
#skills ul {
    list-style: none; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#skills li {
   display: block;
   padding: 10px 25px;
   font-weight: 700;
   border-radius: 5px;
   margin: 20px;
   border: 2px solid #fff;
   color: #08c5c8;

}
.skills-list {
    padding: 0;
}
#projects {
    height: 22vh;
}
#projects ul {
    list-style: none;  
    padding: 0;
}
#projects li {
    padding: 10px;
    background-color:#e4e2e1;
    margin-bottom: 9px;
    opacity: 0.8;
}
#projects li a {
    text-decoration: none;
    color: #011819;
}
#projects li:hover{
    border: 1px solid #08c5c8;;
}
#projects li a:hover {
    color: #08c5c8;
    font-size: 20px;
}
/* form */
#contact {
    width: 60%;
    height: 40vh;
}


.flex-container-form {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.form-ele {
    flex: auto;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    padding-right: 10px;
}
.form-ele label {
    display: block;
    margin-bottom: 15px;
    font-size: 20px;
}

.form-ele input {
    width: 80%;
    padding: 5px;
    height: 30px;
    margin-right: 10px;
    border: #f5f5f5 2px solid
}
#contact textarea {
    width: 50%;
}
.form-ele input:focus, textarea:focus {
    outline-color: #a9b8b7;
}
.form-ele .btn {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background: #08c5c8;
    padding: 13px 0px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    width: 150px;
    opacity: 0.7;
}
/* submit button  */
.btn:hover {
    opacity: 1;
}
.btn-outline, .btn-remove-outline  {
    background: transparent;
    border: 1px solid #fff;
}

/* Messages */

#messages ul {
    list-style: none;
    padding: 0;
} 
#messages  li {
    display: block;
    /* padding: 10px; */
    font-weight: 500;
    border-radius: 5px;
    margin: 0px;
    font-size: 18px;
    text-decoration: none;

}
#messages li a {
    color: #6f7579;
    font-weight: bold;
}
.btn-remove {
    display: inline-block;
    font-size: 16px;
    color: #fff;
    background: #a9b8b7;
    padding: 7px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 50px;
}
.btn-remove:hover {
    background: #161718;
}
#messages .input-message a {
    text-decoration: none;
}

/* footer */
#footer {
    border-radius: 5px;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    background-color: #a9b8b7;
    height: 60px;
    text-align: center; 
}
#connect a {
    margin-right: 30px;
    text-decoration: none; 
    color: #fff; 
}

@media(max-width: 600px) {
    * {
        box-sizing: border-box;
    }
    #navbar {
        position: relative;
        width: 100%;
        justify-content: center;
        background: #b8cfda; 
        align-items: center;
        overflow: auto;
        border-radius: 0px;
        padding: 0px;
        margin: 0px;
    }
    #navbar li a:hover, #navbar li a.current {
        color: #fff;
    }
    .nav-h2 {
        display: none;
    }

    #navbar a {
        padding: 10px 10px;
        margin: auto;
    } 

    #about {
        display: block;
        height: 100%; 
        margin-top: 0;  
    }
    .selfie {
         padding: 0px;
         margin: 0px;   
     }
     .selfie img {
         border-radius: 0px;
         max-width: 100%;
         max-height: 500px;
         object-fit: center;
         opacity: 0.9; 
     }
     .about-info p { 
        padding: 15px;
        line-height: 2;
        max-width: 100%;
        height: 100%;
        
    }
    .about-info .about-h2 {
        margin: 20px 0;
        width: 100%;
        text-align: center;
    }
    .about-info {
        display:block;
        padding: 15px;
        margin-left: 0px;
        width: 100%;
        height: 25vh;
        white-space: normal;
        text-align: center; 
    }
    #experience {
        padding: 30px;
        justify-content: center;
        margin-top: 0px;
        height: auto;   
    }
    #experience h2 {
        margin: 50px 0 20px;
        text-align: center;
    }
    #experience li div {
        flex-direction: column;
        
    }
    
    #skills {
        height: auto;
    }
    #skills ul {
        list-style: none; 
        display: block;
    }
    #skills h2 {
       text-align: center;
       margin-top: 10px;
    }
    
    #skills li {
       padding: 5px;
       font-weight: 700;
       border-radius: 5px;
       margin: 15px 0;
       text-align: center;
       box-shadow: inset 0 0 0 0 #54b3d6;
       color: #54b3d6;
        transition: color .3s ease-in-out, box-shadow .4s ease-in-out;
    }
    #skills li:hover {
       color: #fff;
       box-shadow: inset 500px 0 0 0 #08c5c8;
       cursor: pointer;
    }
    
    .skills-list {
        padding: 0;
    }
   
    #projects h2 {
        text-align: center;
    }

    #contact {
        width: 100%;
        display: block;
        background-color: 
        #ebf3f7;
        height: auto;
    }
    #contact h2 {
        text-align: center;
        color: #0a191e;
        margin-top: 20px;
        padding: 20px 0;
        width: 100%;
     }
     
    .flex-container-form {
        display: block;
        margin: 0;
        width: 100%;
    }
    .form-ele {
        width: 90%;
        margin: 0px ;
        padding: 10px;

        text-align: center;
        margin: auto;

    }
    .form-ele label {
        text-align: center;
        display: block;
        margin-bottom: 15px;
        font-size: 20px;
    }
    
    .form-ele input {
        width: 100%;
        padding: 15px;
        height: 30px;
        border: #f5f5f5 2px solid
    }
   
    .form-ele .btn {
        align-items: center;

    }
    .footer-name{
        display: none;
    }
    #footer {
        border-radius: 5px;
        padding: 0;
        margin-bottom: 15px;
        display: block;
        align-items: center;
        background: #fff;
        width: 100%;
        height: 40px;
        text-align: center;
    }
    #connect a {
        margin-right: 30px;
        text-decoration: none; 
        color: #a9b8b7; 
    }
    #messages h2 {
        width: 100%;
        text-align: center;
        margin-top: 30px;
        margin-left: 0;
     
    }
    
}